* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    background-color:rgb(146, 62, 5);
    height:100vh;
}
img{
    width: 100px;
}
.memory-game{
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    width: 640px;
    height: 640px;
    border:2px solid black;
    perspective: 1000px;
}
.memory-card{
    height: calc(33.33% - 10px);
    width: calc( 25% - 10px);
    position: relative;
    margin: 4px;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active{
    transition: transform .2s;
    
}
.memory-card.flip{
    transform:rotateY(180deg);
    
}
.front-face,
.back-face{
    height: 100%;
    width: 100%;
    padding: 20px;
    position:absolute;
    background-color:rgba(19,132,231);
    border-radius: 7px;
    backface-visibility: hidden;
}

.front-face{
    transform:rotateY(180deg);
}